
.container{
    flex: 1;
    overflow-y: auto;

    display: flex;
    position: relative;

    height: 100%;   
    // background-color: #292D3E;
    background: linear-gradient(to bottom,#292D3E,rgb(26, 30, 44));

    .showContainer{
        display: flex;
        flex: 1;

        overflow-x: hidden;
    }
}
