
.container{
    flex-shrink: 0;

    height: var(--content-breadcrumbs-height);
    padding: calc(8px - var(--content-tabs-scrollbar-height)) 8px 8px;

    background-color: #292D3E;
    display: flex;

    align-items: center;
    white-space: nowrap;
    
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        height: 4px;
        width: 6px;
        background-color: #292D3E;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #292D3E;
        border-radius: 2px;
    }
    
    &:hover::-webkit-scrollbar {
        height: 4px;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
    }

    
    .route {
        cursor: pointer;
        position: relative;

        display: flex;
        align-items: center;

        font-size: 14px;
        line-height: 20px;
    }

    .route:hover {
        text-decoration: underline;
        color: #159aff;
    }
}


.treeContainer{
    position: absolute;
    background-color: #1B1E2B;
    white-space: nowrap;
    width: 300px;
    top: 0.5em;
    padding: 3px;
    z-index: 9;
    color: white;

    border-radius: 5px;
    overflow: auto;
    max-height: 70vh;

    --shadow-color : rgb(91, 91, 91);
    box-shadow: 0 0 10px 3px var(--shadow-color);

    scrollbar-gutter: stable;

    &::-webkit-scrollbar-thumb {
        background-color: #383c4f;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
}
