
.container{
    /* margin: 10px 0; */
    padding: 10px;
    background-color: #1E1E1E;
    display: flex;

    align-items: center;
    white-space: nowrap;
    width: var(--content-width);
    overflow-x: auto;

    min-height: 2rem;

    &::-webkit-scrollbar {
        height: 4px;
        width: 6px;
        background-color: #1E1E1E;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #1E1E1E;
        border-radius: 2px;
    }
    
    &:hover::-webkit-scrollbar {
        height: 4px;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
    }

    
    .route {
        cursor: pointer;
        color: #fff;
        position: relative;

        display: flex;
        align-items: center;
    }

    .route:hover {
        color: #0091ff;
    }
}


.treeContainer{
    position: absolute;
    background-color: #1B1E2B;
    white-space: nowrap;
    width: 300px;
    top: 0.5em;
    padding: 3px;
    z-index: 9;
    color: #fff;

    border-radius: 5px;
    overflow: auto;
    max-height: 70vh;

    --shadow-color : rgb(91, 91, 91);
    box-shadow: 0 0 10px 3px var(--shadow-color);

    
    &::-webkit-scrollbar-thumb {
        background-color: #383c4f;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
}
