
.container{
    flex-shrink: 0;

    padding: 6px;
    background-color: #292D3E;
    display: flex;

    align-items: center;
    white-space: nowrap;
    
    overflow-x: auto;
    overflow-y: hidden;

    // height: fit-content;
    height: var(--content-breadcrumbs-height);

    &::-webkit-scrollbar {
        height: 4px;
        width: 6px;
        background-color: #292D3E;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #292D3E;
        border-radius: 2px;
    }
    
    &:hover::-webkit-scrollbar {
        height: 4px;
    }
    
    &:hover::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
    }

    
    .route {
        cursor: pointer;
        color: #fff;
        position: relative;

        display: flex;
        align-items: center;

        font-size: 14px;
        line-height: 20px;
    }

    .route:hover {
        color: #0091ff;
    }
}


.treeContainer{
    position: absolute;
    background-color: #1B1E2B;
    white-space: nowrap;
    width: 300px;
    top: 0.5em;
    padding: 3px;
    z-index: 9;
    color: #fff;

    border-radius: 5px;
    overflow: auto;
    max-height: 70vh;

    --shadow-color : rgb(91, 91, 91);
    box-shadow: 0 0 10px 3px var(--shadow-color);

    scrollbar-gutter: stable;

    &::-webkit-scrollbar-thumb {
        background-color: #383c4f;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }
}
