.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #abaeb8;

    .editor {
        height: 100%;
        display: flex;
        gap: 16px;

        >* {
            padding-inline: 4px;

            &:hover {
                background-color: #222534;
                cursor: pointer;
                filter: brightness(1.3);
            }
        }

        .position {
            height: 100%;
            white-space: nowrap;
            white-space-collapse: preserve;

            display: flex;
            align-items: center;
        }

        .indent {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: inherit;
        }
    }


    .file {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: inherit;

        >* {

            &:hover {
                cursor: pointer;
                filter: brightness(1.3);
            }
        }

        .name {
            cursor: copy;
        }
    }
}