.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .fileInfo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: #abaeb8;

        > * {
            height: 100%;
            vertical-align: middle;
        }
    }
}
