.loader {
  --loader-bg-color: #000;
  --loader-fill-color: #fff;
  --loader-transparent-color: #0000;

  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;

  background: linear-gradient(90deg, var(--loader-bg-color, #000) 50%, var(--loader-transparent-color, #0000) 0) right/200% 100%;
  animation: fill 2s infinite linear;
}

.loader::before {
  content: "Loading...";
  color: var(--loader-transparent-color, #0000);
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(90deg, var(--loader-fill-color, #fff) 50%, var(--loader-bg-color, #000) 0);
  background-clip: text;
}

@keyframes fill {
  100% {
    background-position: left;
  }
}