:root {
  --file-tree-indent: calc(1rem * 1.4); // 文件树的缩进

  --resizer-width: 4px; // 拖拽调整resizer的宽度

  --sider-unexpand-width: calc(16px + 12px * 2); // sider未展开的宽度

  --content-tabs-height: 40px; // tabs的高度
  --content-tabs-scrollbar-height: 4px; // tabs的滚动条高度

  --content-breadcrumbs-height: 32px; // breadcrumbs的高度

  --footer-height: 28px; // footer的高度

  --fileTree-item-height: 1.5rem;
  --fileTree-file-height: var(--fileTree-item-height);
  --fileTree-dir-height: var(--fileTree-item-height);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  color: #dedede;
}

.bar {
  &::-webkit-scrollbar-thumb {
    background-color: #515256;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}