


.notExist{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    color: rgb(216, 55, 55);
    background-color: transparent;
}