.file {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 2px;
	height: var(--FileTree-File-height);
	width: fit-content;
	min-width: 100%;

	&:hover {
		background-color: #373b4a;
	}

	&.active {
		background-color: #4f5360;
	}
  
	.icon {
		margin-right: 5px;
		display: flex;
	}
}
