.container {
    flex-shrink: 0;

    background-color: #1B1E2B;

    display: flex;
    flex-direction: column;

    position: relative;

    overflow: hidden;

    &.unexpandContainer {
        width: var(--sider-unexpand-width) !important;
    }

    .contentContainer {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .expandIcon {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;
        transform: rotate(0);

        &:hover {
            filter: brightness(1.2);
        }

        &.expand {
            transform: rotateY(180deg);
        }
    }
}
