.dir {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 2px;
	height: var(--FileTree-Dir-height);
	width: fit-content;
	min-width: 100%;

	&:hover {
		background-color: #373b4a;
	}

  .icon {
    margin-right: 5px;
    display: flex;
  }
}

