.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #abaeb8;
    
    >* {
        padding-inline: 4px;
    }

    .fileInfo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: inherit;
    }
}