.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	.tip {
		font-size: 14px;
		max-width: 450px;
		text-align: center;
		user-select: text;
		-webkit-user-select: text;
		word-break: break-word;
	}

	svg {
		width: 60px;
		height: 60px;
		margin-bottom: 10px;
		fill: #f0f0f0;
	}

	button {
		position: relative;
		padding: 10px;
		margin: 20px;
		border-radius: 8px;
		width: 6rem;
		line-height: 1.2rem;
		border: none;
		cursor: pointer;
		transition: all 0.2s ease;

		$bg-color: #f5222d;
		background-color: $bg-color;

		&:hover {
			transform: translateY(-2px);
			background-color: lighten($bg-color, 5%);
			box-shadow: lighten($bg-color, 2%) 0 0 20px 2px;
		}

		&:active {
			transform: none;
			background-color: darken($bg-color, 5%);
			box-shadow: transparent 0 0 20px 2px;
		}
	}
}