.container {
    flex: 1;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-right: 0;


    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    .loading {
        margin: auto;
        margin-top: 40px;
        animation: loading 1s 0s linear infinite;
    }

    .treeContainer {
        flex: 1;

        display: flex;
        position: relative;
        flex-direction: column;
        overflow: auto;
        padding: 5px;
        scrollbar-gutter: stable;

        // overflow-x: scroll;

        &::-webkit-scrollbar-thumb {
            background-color: #383c4f;

            &:hover {
                background-color: #5a5e6b;
            }

            &:active {
                background-color: #878b99;
            }
        }

        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            height: 8px;
            width: 8px;
        }
    }
}