.resizer {
    position: absolute;
    height: 100%;
    right: 0;
    flex-shrink: 0;
    
    width: var(--resizer-width);
    border-right: 1px solid #353a51;
    cursor: col-resize;
    user-select: none;
    transition: background-color 0.2s;

    &:hover {
        background-color: #5a5e6b;
    }

    &:active {
        background-color: #878b99;
    }
}