.container {
    flex-shrink: 0;

    display: flex;
    flex-direction: row;

    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 0.3s;

    height: var(--content-tabs-height);

    &::-webkit-scrollbar {
        height: 4px;
        background-color: #292D3E;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        transition: all .3s ease-in-out;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
        transition: all .3s ease-in-out;
    }
}