@keyframes fadeIn {
    0% {
        opacity: 0;
        scale: 0;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

.container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    scale: 0;

    .content {
        position: relative;
        background-color: rgb(69, 72, 90, 0.9);
        width: 24rem;
        padding: 1rem 1.5rem;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        overflow: hidden;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            color: #64b2ee;
        }

        .info {
            height: 2rem;
            margin: 8px;
            margin-left: 0;
            font-size: 1rem;
            line-height: 1rem;
            display: flex;
            // gap: 0.2rem;
            overflow-x: scroll;
            // overflow-y: hidden;
            text-wrap: nowrap;
            display: flex;
            // flex-direction: row;
            align-items: center;

            gap: 6px;

            &::-webkit-scrollbar-thumb {
                background-color: #7d7e84;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-corner {
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                height: 6px;
            }
        }

        .inputContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            input {
                flex: 1;
                height: 36px;
                padding: 0.5rem;
                font-size: 1rem;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                border: 1px solid #ccc;
                background-color: #30333f;
                border-radius: 5px;
            }

            &.textareaContainer {
                flex-direction: column;
                align-items: unset;

                textarea {
                    width: 336px !important;
                    padding: 0.5rem;
                    min-height: 72px;
                    font-size: 1rem;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    border: 1px solid #ccc;
                    background-color: #30333f;
                    border-radius: 5px;

                    scrollbar-gutter: stable;

                    &::-webkit-scrollbar-thumb {
                        background-color: #5a5e6b;

                        &:hover {
                            background-color: #878b99;
                        }

                        &:active {
                            background-color: #9699a5;
                        }
                    }

                    &::-webkit-scrollbar-corner {
                        background-color: transparent;
                    }

                    &::-webkit-scrollbar {
                        height: 8px;
                        width: 8px;
                    }
                }
            }

            .handle {
                width: 4rem;
                padding: 5px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                transition: all 0.2s ease;
                font-size: 0.8rem;
                line-height: 1.5rem;
                $bg-color: #0078d4;
                background-color: $bg-color;

                &:hover {
                    background-color: lighten($bg-color, 10%);
                    box-shadow: #317eb9 0 0 20px 2px;
                }

                &:active {
                    background-color: darken($bg-color, 5%);
                    box-shadow: none;
                }
            }
        }

        .cancel {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            padding: 3px;
            transition: all 0.2s ease;

            svg {
                display: block;
            }

            &:hover {
                background-color: #7e7e7e;
            }
        }
    }
}