.file {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 2px;
	height: var(--fileTree-file-height);
	min-width: 100%;
	white-space: nowrap;

	&:hover {
		color: white;
		background-color: #313542;
	}
	
	&.active {
		color: white;
		background-color: #404657;
	}

	.icon {
		margin-right: 5px;
		display: flex;
	}
}